.idea
Build/*
!Build/Docker/
/Configuration/
/Data/
/Packages/Framework/*
/Packages/Libraries/*
/Packages/Application/*
!/Packages/Application/Egobude.*/
/Web/
/bin/
/Readme.rst
/Upgrading.rst
/flow
/flow.bat
