.idea
.env
/Data/Build/*
/Persistence/*
/Data/Configuration/*
!/Data/Configuration/Routes.yaml
/Data/Data/
/Data/Packages/Framework/*
/Data/Packages/Libraries/*
/Data/Packages/Application/*
!/Data/Packages/Application/Egobude.*/
/Data/Web/
/Data/bin/
/Data/Readme.rst
/Data/Upgrading.rst
/Data/flow
/Data/flow.bat
